version: '3.8'
services:
  bot:
    build: .
    container_name: broadcast_bot
    command: python src/main.py
    volumes:
      - .:/app
      - ./data:/app/data
    env_file:
      - .env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:alpine
    container_name: broadcast_redis
    restart: always
